.btn{

  min-height: 30px;
  //width: 70px;
  border-radius: 4px;
  margin: 5px;
  
  display: inline-flex;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  color: #000;
  background: rgb(243, 240, 240);
  border: none;
  cursor: pointer;
  transition: .1s linear;
}

.card-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.card .btn {
  min-height: 20px;
}

.buttonDelete{
  font-size: 10px;
  letter-spacing: .05em;
  font-weight: 400;
  text-transform: uppercase;
  padding: 8px 10px;
}
.buttonX {
  background: none;
  border: none;
  color: #202020;
  display: block;
  margin-right: 5px;
  font-family: Montserrat;
  text-transform: uppercase;
  font-weight: bold;
  margin: 5px 10px;
}

.buttonX:hover {
  color:crimson;
}

.buttonEdit{
  font-size: 12px;
  letter-spacing: .05em;
  font-weight: 600;
  padding: 12px 20px;
}
.btn:hover{
  color:rgb(32, 32, 32);
  background:  #5bc8db;

}

.modal-btn{
  display: block;
  margin-top: 15px;
  width: 25%;
  left: 70px;
  margin-left: 75%;
}


.buttonEdit.buttonDelete:after {
  content: " ";
  font-family: "Linearicons-Free";
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 16px;
  margin-left: 30px;
  padding-left: 20px;
  border-left: 1px solid;
}
.fas{
  height: 30px;
  width: 30px;
  color: rgb(32, 32, 32);
}