@import "https://fonts.googleapis.com/css?family=Merriweather";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,400,700");

.cards {
  margin: 20px 0;
  text-align: center;
  margin: 20px 0;
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
}

.card {
  min-height: 10vh;
  min-width: 40vh;
  max-width: 80vh;
  margin: 10px 0;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba($color: #000000, $alpha: 0.1);
  text-transform: none;
  border-radius: 5px;
  transition: .3s;
}

.card h3 {
  width: 100%;
  text-align: center;
  color: rgba($color: rgb(32, 32, 32), $alpha: 0.7);
  text-transform: uppercase;
}

.card .card_header {
  width: 100%;
  font-family: Merriweather;
  background: rgba($color: rgb(32, 32, 32), $alpha: 0.1);
  border-radius: 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.card h3 {
  text-align: center;
  text-transform: uppercase;
  margin-left: 5px;
}

.card p {
  width: 100%;
  text-align: left;
  word-break: break-all;
  font-family: "Open Sans";
  font-weight: bold;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color:rgb(32, 32, 32);
}

h3 {
  font-family: "Merriweather", serif;
  font-size: 20px;
  letter-spacing: 1px;
  max-width: 320px;
  width: 100%;
  display: inline-block;
  color: #465457;
}

// .d9 h3 {
//   text-align: left;
//   padding: 0 0 6px 10px;
//   border-left: 10px solid #a6d8cb;
//   border-bottom: 2px solid #a6d8cb;
// }
.card-buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
}

.card-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.card.unfolded {
  min-width: 50vh;
  min-height: 20vh;
}
