.footer{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  min-height: 15vh;
  background: RGB(91,140,150);
}
.footer-info{
  text-decoration: none;
  color: #000;
}
