@import "mixin";
@import "btn";


.header{
  @include flex-column;
  background: RGB(91,140,150);
  width: 100%;
  min-height: 15vh;
}
.header-top{
  width: 95%;
  margin: 3% 0;
  //height: 100px;

  @include flex-between;
}
.header-top-img-logo{
  width: 50px;
  height: 50px;
  border-radius: 4px;
}

.space-between{
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.optionBlock {
  display: flex;
  flex-direction: column;
}
.text-decoration{
  font-size: 18px;
  text-transform: uppercase;
  font-family: "Montserrat";
  color:rgb(32, 32, 32);
  font-weight: bold;
  font-synthesis: style;
}

.greeting {
  margin-left: 15%;
}