.general-lbl{
  margin-top: 15px;
  font-size: 14px;
  font-family: Montserrat;
  font-weight: bold;
  color: rgb(32, 32, 32);
}
.general-input{
  border-radius: 4px;
  border: snow;
  cursor: pointer;
  margin-top: 10px;
}
.input-style{
  width: 250px;
    height: 16px;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    box-shadow: inset 1px 1px 3px -1px rgba(0, 0, 0, 0.6);
}
input{
  text-indent: 15px;
  outline: none;
}
select option{
  font-size:14px;
  font-family: "Montserrat";
  font-weight: normal;
}