@import "mixin";

.main{
  @include flex-column;
  width: 100%;
  min-height: 70vh;
  justify-content: space-evenly;
  background: RGBA(91,140,150,0.39);
}
.list-visit{
  display: flex;
  flex-direction: column;
  text-transform: none;
}