@import "mixin";

.modal-window{
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease 0s;
  @include flex-column;
}
.modal-window.open{
  opacity: 1;
  visibility: visible;
}

.modal-window.open .modal-content{
  // transform: translate(0, -100%, 0, 0);
  opacity: 1;
}

.modal-body{
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content{
  width: 275px;
  min-height: 175px;
  display: flex;
  flex-direction: column;
  background: rgb(212, 220, 228);
  color: rgb(32, 32, 32);
  max-width: 400px;
  padding:0 30px ;
  position: relative;
  opacity: 0;
  transition: all 0.8s ease 0s;
  //transform: translate(0px, -100%);
  border-radius: 4px;
}

.modal-content h3 {
  margin-top: 15px;
}

// .create-modal-content {
//  height: auto;
// }

// .login-modal-content {
//  height: auto;
// }

