@import "mixin";
@import "font";

.wrapper{
@include flex-column;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  font-family: 'Montserrat';
  text-transform: uppercase;
  color: rgb(32, 32, 32);
}